@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    min-height: 100vh; 
    width: 100%;
}

/* IZQUIERDA */
.izquierda {
    width: 25%;
    background-color: #2f4f6f;
    color: #ffffff;
    padding: 40px 30px;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px auto;
    border: 4px solid #ffffff;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.izquierda h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}

.izquierda p {
    margin-bottom: 8px;
}

.izquierda ul {
    margin-left: 20px;
}

.izquierda li {
    margin-bottom: 5px;
}

/* DERECHA */
.derecha {
    width: 75%;
    padding: 50px;
    background-color: #ffffff;
}

.nombre h1 {
    font-size: 30px;
}

.nombre h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
    color: #555;
}

.derecha h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.seccion p {
    margin-bottom: 12px;
}

.seccion ul {
    margin-left: 20px;
}
