@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* CONTENEDOR PRINCIPAL */
.container {
    width: 100%;
}

/* CABECERA */
.cabecera {
    background-color: #1f3a5f;
    color: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
}

.contenedor_foto_perfil {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffffff;
}

.contenedor_foto_perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre_puesto {
    margin-left: 20px;
}

.nombre_puesto h1 {
    font-size: 26px;
}

.nombre_puesto h2 {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
}

/* CONTENIDO */
.contenido_cv {
    display: flex;
    min-height: 100vh;
}

.izquierda {
    width: 30%;
    background-color: #2f4f6f;
    color: #ffffff;
    padding: 20px;
}

.derecha {
    width: 70%;
    padding: 20px;
}

/* TEXTO */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

